.DIV_1 {
    block-size: 458px;
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    height: 458px;
    inline-size: 1434px;
    padding-block-end: 50px;
    padding-block-start: 45px;
    perspective-origin: 717px 229px;
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    transform-origin: 717px 229px;
    width: 1434px;
    background: rgb(0, 124, 124) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(33, 37, 41);
    font: 14px / 20px Roboto, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
    padding: 45px 0px 50px;
}/*.DIV_1*/

.DIV_1:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 14px / 20px Roboto, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*.DIV_1:after*/

.DIV_1:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 14px / 20px Roboto, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*.DIV_1:before*/

.DIV_2 {
    block-size: 363px;
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    height: 363px;
    inline-size: 1240px;
    margin-inline-end: 97px;
    margin-inline-start: 97px;
    max-inline-size: 1240px;
    max-width: 1240px;
    padding-inline-end: 15px;
    padding-inline-start: 15px;
    perspective-origin: 620px 181.5px;
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    transform-origin: 620px 181.5px;
    width: 1240px;
    border: 0px none rgb(33, 37, 41);
    font: 14px / 20px Roboto, sans-serif;
    margin: 0px 97px;
    outline: rgb(33, 37, 41) none 0px;
    padding: 0px 15px;
}/*.DIV_2*/

.DIV_2:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 14px / 20px Roboto, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*.DIV_2:after*/

.DIV_2:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 14px / 20px Roboto, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*.DIV_2:before*/

.H2_3 {
    block-size: 32px;
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    height: 32px;
    inline-size: 1210px;
    margin-block-end: 16px;
    margin-block-start: 0px;
    perspective-origin: 605px 16px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-size-adjust: 100%;
    transform-origin: 605px 16px;
    width: 1210px;
    border: 0px none rgb(255, 255, 255);
    font: 500 32px / 32px Roboto, sans-serif;
    margin: 0px 0px 16px;
    font-size: 42px;
    
    /* color: rgb(0, 124, 124) */
    outline: rgb(255, 255, 255) none 0px;
}/*.H2_3*/

.H2_3:after {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-size-adjust: 100%;
    border: 0px none rgb(255, 255, 255);
    font: 500 32px / 32px Roboto, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*.H2_3:after*/

.H2_3:before {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-size-adjust: 100%;
    border: 0px none rgb(255, 255, 255);
    font: 500 32px / 32px Roboto, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*.H2_3:before*/

.P_4 {
    block-size: 20px;
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    height: 20px;
    inline-size: 1210px;
    margin-block-end: 24px;
    margin-block-start: 24px;
    perspective-origin: 605px 10px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-size-adjust: 100%;
    transform-origin: 605px 10px;
    width: 1210px;
    font-size: 32px;
    border: 0px none rgb(255, 255, 255);
    font: 14px / 20px Roboto, sans-serif;
    margin: 24px 0px;
    outline: rgb(255, 255, 255) none 0px;
}/*.P_4*/

.P_4:after {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-size-adjust: 100%;
    border: 0px none rgb(255, 255, 255);
    font: 14px / 20px Roboto, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    font-size: 32px;
}/*.P_4:after*/

.P_4:before {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255); 
    font-size: 32px;
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-size-adjust: 100%;
    border: 0px none rgb(255, 255, 255);
    font: 14px / 20px Roboto, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*.P_4:before*/

.DIV_5 {
    block-size: 263px;
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    display: flex;
    height: 263px;
    inline-size: 1240px;
    margin-inline-end: -15px;
    margin-inline-start: -15px;
    perspective-origin: 620px 131.5px;
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    transform-origin: 620px 131.5px;
    width: 1240px;
    border: 0px none rgb(33, 37, 41);
    flex-flow: row wrap;
    font: 14px / 20px Roboto, sans-serif;
    margin: 0px -15px;
    outline: rgb(33, 37, 41) none 0px;
}/*.DIV_5*/

.DIV_5:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    display: block;
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 14px / 20px Roboto, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*.DIV_5:after*/

.DIV_5:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    display: block;
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 14px / 20px Roboto, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*.DIV_5:before*/

.DIV_6 {
    block-size: 263px;
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    height: 263px;
    inline-size: 1240px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    max-inline-size: 100%;
    max-width: 100%;
    min-block-size: 1px;
    min-height: 1px;
    min-inline-size: auto;
    min-width: auto;
    padding-inline-end: 15px;
    padding-inline-start: 15px;
    perspective-origin: 620px 131.5px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 620px 131.5px;
    width: 1240px;
    border: 0px none rgb(33, 37, 41);
    flex: 0 0 100%;
    font: 14px / 20px Roboto, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
    padding: 0px 15px;
}/*.DIV_6*/

.DIV_6:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 14px / 20px Roboto, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*.DIV_6:after*/

.DIV_6:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 14px / 20px Roboto, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*.DIV_6:before*/

.UL_7 {
    block-size: 247px;
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    display: flex;
    height: 247px;
    inline-size: 1210px;
    margin-block-end: 16px;
    margin-block-start: 0px;
    padding-inline-start: 0px;
    perspective-origin: 605px 123.5px;
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    transform-origin: 605px 123.5px;
    width: 1210px;
    border: 0px none rgb(33, 37, 41);
    font: 14px / 20px Roboto, sans-serif;
    margin: 0px 0px 16px;
    outline: rgb(33, 37, 41) none 0px;
    padding: 0px;
}/*.UL_7*/

.UL_7:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    display: block;
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 14px / 20px Roboto, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*.UL_7:after*/

.UL_7:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    display: block;
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 14px / 20px Roboto, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*.UL_7:before*/

.LI_8, .LI_11, .LI_14, .LI_17 {
    background-position: 0px 0px;
    block-size: 247px;
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-end-end-radius: 20px;
    border-end-start-radius: 20px;
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    border-start-end-radius: 20px;
    border-start-start-radius: 20px;
    box-shadow: rgba(64, 48, 107, 0.25) 0px 8px 25px 0px;
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    height: 247px;
    inline-size: 226px;
    margin-inline-end: 20px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    padding-block-end: 20px;
    padding-block-start: 20px;
    padding-inline-end: 15px;
    padding-inline-start: 15px;
    perspective-origin: 113px 123.5px;
    text-align: center;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    transform-origin: 113px 123.5px;
    width: 226px;
    background: rgb(255, 255, 255) none no-repeat scroll 0px 0px / auto padding-box padding-box;
    border: 0px none rgb(33, 37, 41);
    border-radius: 20px;
    font: 14px / 20px Roboto, sans-serif;
    list-style: outside none none;
    margin: 0px 20px 0px 0px;
    outline: rgb(33, 37, 41) none 0px;
    padding: 20px 15px;
}/*.LI_8, .LI_11, .LI_14, .LI_17*/

.LI_8:after, .LI_11:after, .LI_14:after, .LI_17:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    text-align: center;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 14px / 20px Roboto, sans-serif;
    list-style: outside none none;
    outline: rgb(33, 37, 41) none 0px;
}/*.LI_8:after, .LI_11:after, .LI_14:after, .LI_17:after*/

.LI_8:before, .LI_11:before, .LI_14:before, .LI_17:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    text-align: center;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 14px / 20px Roboto, sans-serif;
    list-style: outside none none;
    outline: rgb(33, 37, 41) none 0px;
}/*.LI_8:before, .LI_11:before, .LI_14:before, .LI_17:before*/

.A_9, .A_12, .A_15, .A_18, .A_21 {
    block-size: 55px;
    border-block-end-color: rgb(0, 124, 124);
    border-block-start-color: rgb(0, 124, 124);
    border-inline-end-color: rgb(0, 124, 124);
    border-inline-start-color: rgb(0, 124, 124);
    box-sizing: border-box;
    caret-color: rgb(0, 124, 124);
    color: rgb(0, 124, 124);
    column-rule-color: rgb(0, 124, 124);
    display: block;
    height: 55px;
    inline-size: 196px;
    min-block-size: 55px;
    min-height: 55px;
    perspective-origin: 98px 27.5px;
    text-align: center;
    text-decoration: none solid rgb(0, 124, 124);
    text-emphasis-color: rgb(0, 124, 124);
    text-size-adjust: 100%;
    transform-origin: 98px 27.5px;
    width: 196px;
    border: 0px none rgb(0, 124, 124);
    font: 700 15px / 20px Roboto, sans-serif;
    list-style: outside none none;
    outline: rgb(0, 124, 124) none 0px;
}/*.A_9, .A_12, .A_15, .A_18, .A_21*/

.A_9:after, .A_12:after, .A_15:after, .A_18:after, .A_21:after {
    border-block-end-color: rgb(0, 124, 124);
    border-block-start-color: rgb(0, 124, 124);
    border-inline-end-color: rgb(0, 124, 124);
    border-inline-start-color: rgb(0, 124, 124);
    box-sizing: border-box;
    caret-color: rgb(0, 124, 124);
    color: rgb(0, 124, 124);
    column-rule-color: rgb(0, 124, 124);
    text-align: center;
    text-decoration: none solid rgb(0, 124, 124);
    text-emphasis-color: rgb(0, 124, 124);
    text-size-adjust: 100%;
    border: 0px none rgb(0, 124, 124);
    font: 700 15px / 20px Roboto, sans-serif;
    list-style: outside none none;
    outline: rgb(0, 124, 124) none 0px;
}/*.A_9:after, .A_12:after, .A_15:after, .A_18:after, .A_21:after*/

.A_9:before, .A_12:before, .A_15:before, .A_18:before, .A_21:before {
    border-block-end-color: rgb(0, 124, 124);
    border-block-start-color: rgb(0, 124, 124);
    border-inline-end-color: rgb(0, 124, 124);
    border-inline-start-color: rgb(0, 124, 124);
    box-sizing: border-box;
    caret-color: rgb(0, 124, 124);
    color: rgb(0, 124, 124);
    column-rule-color: rgb(0, 124, 124);
    text-align: center;
    text-decoration: none solid rgb(0, 124, 124);
    text-emphasis-color: rgb(0, 124, 124);
    text-size-adjust: 100%;
    border: 0px none rgb(0, 124, 124);
    font: 700 15px / 20px Roboto, sans-serif;
    list-style: outside none none;
    outline: rgb(0, 124, 124) none 0px;
}/*.A_9:before, .A_12:before, .A_15:before, .A_18:before, .A_21:before*/

.P_10 {
    block-size: 140px;
    border-block-end-color: rgb(40, 40, 40);
    border-block-start-color: rgb(40, 40, 40);
    border-inline-end-color: rgb(40, 40, 40);
    border-inline-start-color: rgb(40, 40, 40);
    box-sizing: border-box;
    caret-color: rgb(40, 40, 40);
    color: rgb(40, 40, 40);
    column-rule-color: rgb(40, 40, 40);
    height: 140px;
    inline-size: 196px;
    margin-block-start: 0px;
    perspective-origin: 98px 70px;
    text-align: center;
    text-decoration: none solid rgb(40, 40, 40);
    text-emphasis-color: rgb(40, 40, 40);
    text-size-adjust: 100%;
    transform-origin: 98px 70px;
    width: 196px;
    border: 0px none rgb(40, 40, 40);
    font: 500 13px / 20px Roboto, sans-serif;
    list-style: outside none none;
    margin: 0px 0px 12px;
    outline: rgb(40, 40, 40) none 0px;
}/*.P_10*/

.P_10:after {
    border-block-end-color: rgb(40, 40, 40);
    border-block-start-color: rgb(40, 40, 40);
    border-inline-end-color: rgb(40, 40, 40);
    border-inline-start-color: rgb(40, 40, 40);
    box-sizing: border-box;
    caret-color: rgb(40, 40, 40);
    color: rgb(40, 40, 40);
    column-rule-color: rgb(40, 40, 40);
    text-align: center;
    text-decoration: none solid rgb(40, 40, 40);
    text-emphasis-color: rgb(40, 40, 40);
    text-size-adjust: 100%;
    border: 0px none rgb(40, 40, 40);
    font: 500 13px / 20px Roboto, sans-serif;
    list-style: outside none none;
    outline: rgb(40, 40, 40) none 0px;
}/*.P_10:after*/

.P_10:before {
    border-block-end-color: rgb(40, 40, 40);
    border-block-start-color: rgb(40, 40, 40);
    border-inline-end-color: rgb(40, 40, 40);
    border-inline-start-color: rgb(40, 40, 40);
    box-sizing: border-box;
    caret-color: rgb(40, 40, 40);
    color: rgb(40, 40, 40);
    column-rule-color: rgb(40, 40, 40);
    text-align: center;
    text-decoration: none solid rgb(40, 40, 40);
    text-emphasis-color: rgb(40, 40, 40);
    text-size-adjust: 100%;
    border: 0px none rgb(40, 40, 40);
    font: 500 13px / 20px Roboto, sans-serif;
    list-style: outside none none;
    outline: rgb(40, 40, 40) none 0px;
}/*.P_10:before*/

.P_13, .P_19 {
    block-size: 100px;
    border-block-end-color: rgb(40, 40, 40);
    border-block-start-color: rgb(40, 40, 40);
    border-inline-end-color: rgb(40, 40, 40);
    border-inline-start-color: rgb(40, 40, 40);
    box-sizing: border-box;
    caret-color: rgb(40, 40, 40);
    color: rgb(40, 40, 40);
    column-rule-color: rgb(40, 40, 40);
    height: 100px;
    inline-size: 196px;
    margin-block-start: 0px;
    perspective-origin: 98px 50px;
    text-align: center;
    text-decoration: none solid rgb(40, 40, 40);
    text-emphasis-color: rgb(40, 40, 40);
    text-size-adjust: 100%;
    transform-origin: 98px 50px;
    width: 196px;
    border: 0px none rgb(40, 40, 40);
    font: 500 13px / 20px Roboto, sans-serif;
    list-style: outside none none;
    margin: 0px 0px 12px;
    outline: rgb(40, 40, 40) none 0px;
}/*.P_13, .P_19*/

.P_13:after, .P_19:after {
    border-block-end-color: rgb(40, 40, 40);
    border-block-start-color: rgb(40, 40, 40);
    border-inline-end-color: rgb(40, 40, 40);
    border-inline-start-color: rgb(40, 40, 40);
    box-sizing: border-box;
    caret-color: rgb(40, 40, 40);
    color: rgb(40, 40, 40);
    column-rule-color: rgb(40, 40, 40);
    text-align: center;
    text-decoration: none solid rgb(40, 40, 40);
    text-emphasis-color: rgb(40, 40, 40);
    text-size-adjust: 100%;
    border: 0px none rgb(40, 40, 40);
    font: 500 13px / 20px Roboto, sans-serif;
    list-style: outside none none;
    outline: rgb(40, 40, 40) none 0px;
}/*.P_13:after, .P_19:after*/

.P_13:before, .P_19:before {
    border-block-end-color: rgb(40, 40, 40);
    border-block-start-color: rgb(40, 40, 40);
    border-inline-end-color: rgb(40, 40, 40);
    border-inline-start-color: rgb(40, 40, 40);
    box-sizing: border-box;
    caret-color: rgb(40, 40, 40);
    color: rgb(40, 40, 40);
    column-rule-color: rgb(40, 40, 40);
    text-align: center;
    text-decoration: none solid rgb(40, 40, 40);
    text-emphasis-color: rgb(40, 40, 40);
    text-size-adjust: 100%;
    border: 0px none rgb(40, 40, 40);
    font: 500 13px / 20px Roboto, sans-serif;
    list-style: outside none none;
    outline: rgb(40, 40, 40) none 0px;
}/*.P_13:before, .P_19:before*/

.P_16 {
    block-size: 120px;
    border-block-end-color: rgb(40, 40, 40);
    border-block-start-color: rgb(40, 40, 40);
    border-inline-end-color: rgb(40, 40, 40);
    border-inline-start-color: rgb(40, 40, 40);
    box-sizing: border-box;
    caret-color: rgb(40, 40, 40);
    color: rgb(40, 40, 40);
    column-rule-color: rgb(40, 40, 40);
    height: 120px;
    inline-size: 196px;
    margin-block-start: 0px;
    perspective-origin: 98px 60px;
    text-align: center;
    text-decoration: none solid rgb(40, 40, 40);
    text-emphasis-color: rgb(40, 40, 40);
    text-size-adjust: 100%;
    transform-origin: 98px 60px;
    width: 196px;
    border: 0px none rgb(40, 40, 40);
    font: 500 13px / 20px Roboto, sans-serif;
    list-style: outside none none;
    margin: 0px 0px 12px;
    outline: rgb(40, 40, 40) none 0px;
}/*.P_16*/

.P_16:after {
    border-block-end-color: rgb(40, 40, 40);
    border-block-start-color: rgb(40, 40, 40);
    border-inline-end-color: rgb(40, 40, 40);
    border-inline-start-color: rgb(40, 40, 40);
    box-sizing: border-box;
    caret-color: rgb(40, 40, 40);
    color: rgb(40, 40, 40);
    column-rule-color: rgb(40, 40, 40);
    text-align: center;
    text-decoration: none solid rgb(40, 40, 40);
    text-emphasis-color: rgb(40, 40, 40);
    text-size-adjust: 100%;
    border: 0px none rgb(40, 40, 40);
    font: 500 13px / 20px Roboto, sans-serif;
    list-style: outside none none;
    outline: rgb(40, 40, 40) none 0px;
}/*.P_16:after*/

.P_16:before {
    border-block-end-color: rgb(40, 40, 40);
    border-block-start-color: rgb(40, 40, 40);
    border-inline-end-color: rgb(40, 40, 40);
    border-inline-start-color: rgb(40, 40, 40);
    box-sizing: border-box;
    caret-color: rgb(40, 40, 40);
    color: rgb(40, 40, 40);
    column-rule-color: rgb(40, 40, 40);
    text-align: center;
    text-decoration: none solid rgb(40, 40, 40);
    text-emphasis-color: rgb(40, 40, 40);
    text-size-adjust: 100%;
    border: 0px none rgb(40, 40, 40);
    font: 500 13px / 20px Roboto, sans-serif;
    list-style: outside none none;
    outline: rgb(40, 40, 40) none 0px;
}/*.P_16:before*/

.LI_20 {
    background-position: 0px 0px;
    block-size: 247px;
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-end-end-radius: 20px;
    border-end-start-radius: 20px;
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    border-start-end-radius: 20px;
    border-start-start-radius: 20px;
    box-shadow: rgba(64, 48, 107, 0.25) 0px 8px 25px 0px;
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    height: 247px;
    inline-size: 226px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    padding-block-end: 20px;
    padding-block-start: 20px;
    padding-inline-end: 15px;
    padding-inline-start: 15px;
    perspective-origin: 113px 123.5px;
    text-align: center;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    transform-origin: 113px 123.5px;
    width: 226px;
    background: rgb(255, 255, 255) none no-repeat scroll 0px 0px / auto padding-box padding-box;
    border: 0px none rgb(33, 37, 41);
    border-radius: 20px;
    font: 14px / 20px Roboto, sans-serif;
    list-style: outside none none;
    outline: rgb(33, 37, 41) none 0px;
    padding: 20px 15px;
}/*.LI_20*/

.LI_20:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    text-align: center;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 14px / 20px Roboto, sans-serif;
    list-style: outside none none;
    outline: rgb(33, 37, 41) none 0px;
}/*.LI_20:after*/

.LI_20:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    text-align: center;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 14px / 20px Roboto, sans-serif;
    list-style: outside none none;
    outline: rgb(33, 37, 41) none 0px;
}/*.LI_20:before*/

.P_22 {
    block-size: 80px;
    border-block-end-color: rgb(40, 40, 40);
    border-block-start-color: rgb(40, 40, 40);
    border-inline-end-color: rgb(40, 40, 40);
    border-inline-start-color: rgb(40, 40, 40);
    box-sizing: border-box;
    caret-color: rgb(40, 40, 40);
    color: rgb(40, 40, 40);
    column-rule-color: rgb(40, 40, 40);
    height: 80px;
    inline-size: 196px;
    margin-block-start: 0px;
    perspective-origin: 98px 40px;
    text-align: center;
    text-decoration: none solid rgb(40, 40, 40);
    text-emphasis-color: rgb(40, 40, 40);
    text-size-adjust: 100%;
    transform-origin: 98px 40px;
    width: 196px;
    border: 0px none rgb(40, 40, 40);
    font: 500 13px / 20px Roboto, sans-serif;
    list-style: outside none none;
    margin: 0px 0px 12px;
    outline: rgb(40, 40, 40) none 0px;
}/*.P_22*/

.P_22:after {
    border-block-end-color: rgb(40, 40, 40);
    border-block-start-color: rgb(40, 40, 40);
    border-inline-end-color: rgb(40, 40, 40);
    border-inline-start-color: rgb(40, 40, 40);
    box-sizing: border-box;
    caret-color: rgb(40, 40, 40);
    color: rgb(40, 40, 40);
    column-rule-color: rgb(40, 40, 40);
    text-align: center;
    text-decoration: none solid rgb(40, 40, 40);
    text-emphasis-color: rgb(40, 40, 40);
    text-size-adjust: 100%;
    border: 0px none rgb(40, 40, 40);
    font: 500 13px / 20px Roboto, sans-serif;
    list-style: outside none none;
    outline: rgb(40, 40, 40) none 0px;
}/*.P_22:after*/

.P_22:before {
    border-block-end-color: rgb(40, 40, 40);
    border-block-start-color: rgb(40, 40, 40);
    border-inline-end-color: rgb(40, 40, 40);
    border-inline-start-color: rgb(40, 40, 40);
    box-sizing: border-box;
    caret-color: rgb(40, 40, 40);
    color: rgb(40, 40, 40);
    column-rule-color: rgb(40, 40, 40);
    text-align: center;
    text-decoration: none solid rgb(40, 40, 40);
    text-emphasis-color: rgb(40, 40, 40);
    text-size-adjust: 100%;
    border: 0px none rgb(40, 40, 40);
    font: 500 13px / 20px Roboto, sans-serif;
    list-style: outside none none;
    outline: rgb(40, 40, 40) none 0px;
}/*.P_22:before*/

